<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Charts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Line Chart</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="ChartCtrl.line.data" labels="ChartCtrl.line.labels" legend="true"
                click="ChartCtrl.line.onClick" series="ChartCtrl.line.series"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="bar-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Bar Chart</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar" data="ChartCtrl.bar.data" labels="ChartCtrl.bar.labels" series="ChartCtrl.bar.series"
                options="ChartCtrl.bar.options"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="doughnut-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Doughnut Chart</div>
            <div class="panel-body">
            <canvas id="doughnut" class="chart chart-doughnut chart-xs" data="ChartCtrl.donut.data" labels="ChartCtrl.donut.labels" legend="false"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="radar-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Radar Chart</div>
            <div class="panel-body">
                <canvas id="area" class="chart chart-radar" data="ChartCtrl.radar.data" labels="ChartCtrl.radar.labels" click="ChartCtrl.onClick"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="pie-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Pie Chart</div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie chart-xs" data="ChartCtrl.pie.data" labels="ChartCtrl.pie.labels"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="polar area-chart" ng-controller="ChartCtrl as ChartCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Polar Area Chart</div>
        <div class="panel-body">
          <canvas id="polar" class="chart chart-polar-area" data="ChartCtrl.polar.data" labels="ChartCtrl.polar.labels"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12" id="base-chart" ng-controller="ChartCtrl as ChartCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Dynamic Chart</div>
            <div class="panel-body">
            <canvas id="base" class="chart chart-base" chart-type="ChartCtrl.dynamic.type" data="ChartCtrl.dynamic.data" labels="ChartCtrl.dynamic.labels" legend="true"></canvas>
            </div>
        </div>
        <button type="button" class="btn btn-primary pull-right" ng-click="ChartCtrl.dynamic.toggle()">Toggle</button>
    </div>
</div>